
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.btn-secondary{
    background-color: white;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    margin-left: 30px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-description{
    font-size: 18px;
    color: #757575;
    margin: 0px 50px 50px;
    line-height: 30px;
}

.text-center{
    text-align: center;
}

/* header styles */

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}


/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 180px;
}

.nav-title{
    font-size: 45px;
    font-weight: 900;
    color:#181818;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner Styles */

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-profile-pic{
    width: 580px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 180px;
}

.banner-content{
    max-width: 580px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    background-color: #FFF8F3;
    padding: 80px 130px;
    border-radius: 10px;
    margin: 120px 10px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
    line-height: 8px;
}

.item-title{
    font-size: 18px;
    color: #757575;
}

.item-description{
    font-size: 18px;
    color: #474747;
    font-weight: bold;
}

/* Skills Styles */

.skills{
    margin: 100px 10px;
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 30px;
}

.skill{
    border-radius: 5px;
    width: 260px;
    text-align: left;
    padding: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


.skill-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.skill-description{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 50px;
}

/* Resume Styles */

.resume-container{
    display: flex;
    gap: 24px;
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.experience-title{
    font-size: 25px;
    color: #474747;
    font-weight: bold;
}

.experience-subtitle{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin: 10px 0px 20px 0px;

}

.experience-description{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

.resume-download-cv{
    margin: 50px 0px 100px 0px;
}


/* Footer Styles */

.footer-bg{
    background-color: #FFF8F3;
}

.footer-main-div{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px;
}

.footer-column{
    width: 50%;
}


.footer-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;

}

.footer-description{
    font-size: 16px;
    list-style: 18px;
    color: #474747;
    margin: 20px 0 30px 0;

}

.footer-icons a img{
    margin-right: 24px;
}

footer input[type="text"], footer input[type="email"]{
    height: 30px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 60%;
    padding: 10px 20px;
    border: none;
}

footer textarea{
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 60%;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
}


/* Responsive media query */

.hide{
    display: none;
}

@media screen and (max-width:576px) {
    .skills-container{
        flex-direction: column;
        align-items: center;
    }

    .resume-container{
        flex-direction: column;
    }

    .resume-column{
        padding: 20px;
    }
}
